#!/usr/bin/env bash

# {{ ansible_managed }}

{% set edxapp_venv_bin = edxapp_venv_dir + "/bin" %}

{% set executable = edxapp_venv_bin + '/gunicorn' %}

{% if EDXAPP_DATADOG_ENABLE %}
{% set executable = edxapp_venv_bin + '/ddtrace-run ' + executable %}
export DD_TAGS="service:edx-edxapp-cms version:{{ app_version }}"
export DD_DJANGO_USE_HANDLER_RESOURCE_FORMAT=true
export DD_GIT_COMMIT_SHA="{{ app_version }}"
export DD_GIT_REPOSITORY_URL="{{ EDXAPP_REPOSITORY_GIT_URL }}"
export DD_LOGS_INJECTION=true
# Copied from edx_django_service playbook for consistency; Datadog
# trace debug logging issue doesn't actually affect edxapp for some
# reason.
export DD_TRACE_LOG_STREAM_HANDLER=false

# Suppress middleware spans because there are about 100 for each request.
# Remove (or set to true) for debugging.
# Temporarily enabled as part of https://github.com/edx/edx-arch-experiments/issues/879
export DD_DJANGO_INSTRUMENT_MIDDLEWARE=true
{% endif -%}

# We want to be able to toggle this on separately from DD in general.
{% if EDXAPP_DATADOG_PROFILING_ENABLE %}
export DD_PROFILING_ENABLED=true
export DD_PROFILING_STACK_V2_ENABLED=true
export DD_PROFILING_TIMELINE_ENABLED=true
{% endif -%}

{% if EDXAPP_DATADOG_INFERRED_SERVICES_ENABLE %}
export DD_TRACE_REMOVE_INTEGRATION_SERVICE_NAMES_ENABLED=true
# Temporary: Override django.cache span service tag to match IDA name.
# This *should* be done by DD_TRACE_REMOVE_INTEGRATION_SERVICE_NAMES_ENABLED
# but it's not working due to a missing `schematize_service_name` call.
# See https://github.com/edx/edx-arch-experiments/issues/737
export DD_DJANGO_CACHE_SERVICE_NAME=edx-edxapp-cms
{% endif -%}

export PORT="{{ edxapp_cms_gunicorn_port }}"
export ADDRESS="{{ edxapp_cms_gunicorn_host }}"
export LANG="{{ EDXAPP_LANG }}"
export DJANGO_SETTINGS_MODULE="{{ EDXAPP_CMS_ENV }}"
export SERVICE_VARIANT="cms"
export PATH="{{ edxapp_deploy_path }}"
export BOTO_CONFIG="{{ edxapp_app_dir }}/.boto"
export EDX_REST_API_CLIENT_NAME="{{ COMMON_ENVIRONMENT }}-{{ COMMON_DEPLOYMENT }}-studio"

source {{ edxapp_app_dir }}/edxapp_env
# We exec so that gunicorn is the child of supervisor and can be managed properly
{% if EDXAPP_USE_GUNICORN_SEPARATE_LOG_FILE %}
exec {{ executable }} -c {{ edxapp_app_dir }}/cms_gunicorn.py {{ EDXAPP_CMS_GUNICORN_EXTRA }} cms.wsgi --log-file {{ edxapp_gunicorn_log_dir[1] }}/edx.log
{% else %}
exec {{ executable }} -c {{ edxapp_app_dir }}/cms_gunicorn.py {{ EDXAPP_CMS_GUNICORN_EXTRA }} cms.wsgi
{% endif %}